.header {
    position: relative;
    width: 100%;
    min-height: 75vh;
}

.header::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url("../imgs/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -99;
}

.navbar {
    padding-top: 35px;
    display: flex;
    justify-content: center;
}

.nav-list {
    padding: 0 32px;
    border-radius: 50px;
    background: #fff;
}

.nav-link {
    padding: 13px 17px;
    color: #000;
    font-family: "Poppins";
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.header-card {
    margin-left: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.header-content {
    padding: 100px 0;
}

.header-icon img {
    width: 17px;
    height: 17px;
    object-fit: cover;
}

.header-heading {
    margin-bottom: 50px;
    color: #fff;
    font-family: Poppins;
    font-size: 3.6rem;
    font-weight: 600;
}

.header-content span {
    margin-top: 50px;
    display: block;
    color: #fff;
    font-family: Poppins;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
